In [5]:
# CELDA 1: Importar bibliotecas necesarias
import pandas as pd
import numpy as np # Útil para operaciones numéricas, aunque no se use directamente en el merge

# Configuración para mostrar todas las columnas (opcional, pero útil)
pd.set_option('display.max_columns', None)

In [6]:
# CELDA 2: Definir las rutas a los archivos
path_cleaned_airbnb = "/home/nicolas/Escritorio/proyecto ETL/develop/data/processed/cleaned_airbnb_data.csv"
path_cleaned_api = "/home/nicolas/Escritorio/proyecto ETL/develop/data/processed/cleaned_api_data.csv"

In [7]:
# CELDA 3: Cargar el archivo cleaned_airbnb_data.csv
try:
    df_airbnb = pd.read_csv(path_cleaned_airbnb)
    print(f"Archivo '{path_cleaned_airbnb}' cargado exitosamente.")
except FileNotFoundError:
    print(f"Error: El archivo '{path_cleaned_airbnb}' no fue encontrado. Verifica la ruta.")
    df_airbnb = pd.DataFrame() # Crear DataFrame vacío para evitar errores en celdas siguientes
except Exception as e:
    print(f"Ocurrió un error al leer '{path_cleaned_airbnb}': {e}")
    df_airbnb = pd.DataFrame()

Archivo '/home/nicolas/Escritorio/proyecto ETL/develop/data/processed/cleaned_airbnb_data.csv' cargado exitosamente.

/tmp/ipykernel_1133674/2303261051.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_airbnb = pd.read_csv(path_cleaned_airbnb)

In [11]:
# CELDA 4: Visualización inicial de df_airbnb
if not df_airbnb.empty:
    print("--- Visualización de df_airbnb (cleaned_airbnb_data.csv) ---")
    print("\nPrimeras 5 filas:")
    display(df_airbnb.head())

    print("\nInformación del DataFrame:")
    df_airbnb.info()

    print(f"\nDimensiones del DataFrame (filas, columnas): {df_airbnb.shape}")

    print("\nEstadísticas descriptivas:")
    display(df_airbnb.describe(include='all'))

    print("\nConteo de valores nulos por columna:")
    display(df_airbnb.isnull().sum())
else:
    print("df_airbnb está vacío. No se puede mostrar información.")

--- Visualización de df_airbnb (cleaned_airbnb_data.csv) ---

Primeras 5 filas:

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020,966.0,193.0,10,9,20211019,0.21,4,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007,142.0,28.0,30,45,20220521,0.38,4,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005,620.0,124.0,3,0,19000101,0.00,5,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005,368.0,74.0,30,270,20190705,4.64,4,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009,204.0,41.0,10,9,20181119,0.10,3,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102599 non-null  int64
 15  price                           102599 non-null  float64
 16  service_fee                     102599 non-null  float64
 17  minimum_nights                  102599 non-null  int64
 18  number_of_reviews               102599 non-null  int64
 19  last_review                     102599 non-null  int64
 20  reviews_per_month               102599 non-null  float64
 21  review_rate_number              102599 non-null  int64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(7), int64(7), object(12)
memory usage: 20.4+ MB

Dimensiones del DataFrame (filas, columnas): (102599, 26)

Estadísticas descriptivas:

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
count,1.025990e+05,102349,1.025990e+05,102310,102193,102570,102583,102591.000000,102591.000000,102067,102468,102494,102523,102599,102599.000000,102599.000000,102599.000000,102599.000000,102599.000000,1.025990e+05,102599.000000,102599.000000,102280.000000,102151.000000,50468,2
unique,NaN,61281,NaN,2,13190,5,224,NaN,NaN,1,1,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1976,1
top,NaN,Home away from home,NaN,unconfirmed,Michael,Manhattan,Bedford-Stuyvesant,NaN,NaN,United States,US,False,moderate,Entire home/apt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#NAME?,41662/AL
freq,NaN,33,NaN,51200,881,43793,7937,NaN,NaN,102067,102468,51474,34343,53701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2712,2
mean,2.914623e+07,NaN,4.925411e+10,NaN,NaN,NaN,NaN,40.728094,-73.949644,NaN,NaN,NaN,NaN,NaN,2012.486447,623.788185,124.694247,8.107399,27.434722,2.000617e+07,1.161368,3.268687,7.936605,141.133254,NaN,NaN
std,1.625751e+07,NaN,2.853900e+10,NaN,NaN,NaN,NaN,0.055857,0.049521,NaN,NaN,NaN,NaN,NaN,5.759583,332.686420,66.549843,30.496135,49.478373,4.310010e+05,1.680924,1.295823,32.218780,135.435024,NaN,NaN
min,1.001254e+06,NaN,1.236005e+08,NaN,NaN,NaN,NaN,40.499790,-74.249840,NaN,NaN,NaN,NaN,NaN,2003.000000,0.000000,0.000000,-1223.000000,0.000000,1.900010e+07,0.000000,0.000000,1.000000,-10.000000,NaN,NaN
25%,1.508581e+07,NaN,2.458333e+10,NaN,NaN,NaN,NaN,40.688740,-73.982580,NaN,NaN,NaN,NaN,NaN,2008.000000,337.000000,67.000000,1.000000,1.000000,2.017073e+07,0.090000,2.000000,1.000000,3.000000,NaN,NaN
50%,2.913660e+07,NaN,4.911774e+10,NaN,NaN,NaN,NaN,40.722290,-73.954440,NaN,NaN,NaN,NaN,NaN,2012.000000,623.000000,124.000000,3.000000,7.000000,2.019052e+07,0.480000,3.000000,1.000000,96.000000,NaN,NaN
75%,4.320120e+07,NaN,7.399650e+10,NaN,NaN,NaN,NaN,40.762760,-73.932350,NaN,NaN,NaN,NaN,NaN,2017.000000,912.000000,182.000000,5.000000,30.000000,2.019070e+07,1.710000,4.000000,2.000000,269.000000,NaN,NaN
max,5.736742e+07,NaN,9.876313e+10,NaN,NaN,NaN,NaN,40.916970,-73.705220,NaN,NaN,NaN,NaN,NaN,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,2.058062e+07,90.000000,5.000000,332.000000,3677.000000,NaN,NaN

Conteo de valores nulos por columna:

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                      0
price                                  0
service_fee                            0
minimum_nights                         0
number_of_reviews                      0
last_review                            0
reviews_per_month                      0
review_rate_number                     0
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64