In [2]:
import os 
import logging
import pandas as pd
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

In [3]:
print("Current directory before change:", os.getcwd())

try:
    
    os.chdir("../../")
    print("Current directory after change:", os.getcwd())

except FileNotFoundError:
    print("""
        FileNotFoundError - The specified directory does not exist or you are already in the root.
        If the code already worked once, do not run it again.
    """)

Current directory before change: /home/jacobo/Proyecto_ETL/Notebooks/api
Current directory after change: /home/jacobo/Proyecto_ETL

In [4]:
df = pd.read_csv("data/raw/api_data.csv")

logger.info("Archivo 'data/raw/api_data.csv' leído correctamente y cargado en DataFrame.")
df.head()

INFO:__main__:Archivo 'data/raw/api_data.csv' leído correctamente y cargado en DataFrame.

,fsq_id,name,latitude,longitude,category_main_name,category_main_id,all_categories,address,locality,region,area_searched,price_tier,rating,popularity_score,tips_count
0,55da5f17498e996288808dce,Smorgasburg Prospect Park,40.659104,-73.966131,Restaurant,13065,"[{""id"": 13065, ""name"": ""Restaurant"", ""short_na...","Breeze Hill (Breeze Hill), Brooklyn, NY 11225",Brooklyn,NY,"Brooklyn, New York, NY",NaN,9.0,0.974898,48.0
1,5e63ce2913fee000089eecb4,Winner,40.665707,-73.982370,Coffee Shop,13035,"[{""id"": 13035, ""name"": ""Coffee Shop"", ""short_n...","367 7th Ave (11th St), Brooklyn, NY 11215",Brooklyn,NY,"Brooklyn, New York, NY",1.0,9.4,0.982278,16.0
2,52fec098498eb03b244330f2,Covenhoven,40.675270,-73.960260,Beer Bar,13006,"[{""id"": 13006, ""name"": ""Beer Bar"", ""short_name...","730 Classon Ave (btwn Prospect Pl & Park Pl), ...",Brooklyn,NY,"Brooklyn, New York, NY",2.0,9.4,0.989574,80.0
3,5595c485498e31f9374adc0b,Gold Star Beer Counter,40.675147,-73.966840,Beer Bar,13006,"[{""id"": 13006, ""name"": ""Beer Bar"", ""short_name...","176 Underhill Ave (Sterling Pl), Brooklyn, NY ...",Brooklyn,NY,"Brooklyn, New York, NY",2.0,9.5,0.982798,50.0
4,617f079521e6b656381532a3,Variety Coffee,40.667750,-73.981290,Coffee Shop,13035,"[{""id"": 13035, ""name"": ""Coffee Shop"", ""short_n...","312 7th Ave, Brooklyn, NY 11215",Brooklyn,NY,"Brooklyn, New York, NY",1.0,8.9,0.988623,4.0

In [5]:
unique_regions = df['region'].unique()
print("Unique regions:", unique_regions)

Unique regions: ['NY' 'NJ' 'CT' 'PA']

In [6]:
df_clean = df[~df['region'].isin(['NJ', 'CT', 'PA'])]
logger.info("Registros con region 'NJ', 'CT' y 'PA' eliminados.")
df_clean.info()
print("Número de registros en df:", len(df_clean))

INFO:__main__:Registros con region 'NJ', 'CT' y 'PA' eliminados.

<class 'pandas.core.frame.DataFrame'>
Index: 2218 entries, 0 to 3452
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fsq_id              2218 non-null   object
 1   name                2218 non-null   object
 2   latitude            2218 non-null   float64
 3   longitude           2218 non-null   float64
 4   category_main_name  2218 non-null   object
 5   category_main_id    2218 non-null   int64
 6   all_categories      2218 non-null   object
 7   address             2218 non-null   object
 8   locality            2218 non-null   object
 9   region              2218 non-null   object
 10  area_searched       2218 non-null   object
 11  price_tier          521 non-null    float64
 12  rating              1162 non-null   float64
 13  popularity_score    2022 non-null   float64
 14  tips_count          1119 non-null   float64
dtypes: float64(6), int64(1), object(8)
memory usage: 277.2+ KB
Número de registros en df: 2218

In [7]:
null_counts = df_clean.isnull().sum()
print(null_counts)

fsq_id                   0
name                     0
latitude                 0
longitude                0
category_main_name       0
category_main_id         0
all_categories           0
address                  0
locality                 0
region                   0
area_searched            0
price_tier            1697
rating                1056
popularity_score       196
tips_count            1099
dtype: int64

In [8]:
df_clean.head()

,fsq_id,name,latitude,longitude,category_main_name,category_main_id,all_categories,address,locality,region,area_searched,price_tier,rating,popularity_score,tips_count
0,55da5f17498e996288808dce,Smorgasburg Prospect Park,40.659104,-73.966131,Restaurant,13065,"[{""id"": 13065, ""name"": ""Restaurant"", ""short_na...","Breeze Hill (Breeze Hill), Brooklyn, NY 11225",Brooklyn,NY,"Brooklyn, New York, NY",NaN,9.0,0.974898,48.0
1,5e63ce2913fee000089eecb4,Winner,40.665707,-73.982370,Coffee Shop,13035,"[{""id"": 13035, ""name"": ""Coffee Shop"", ""short_n...","367 7th Ave (11th St), Brooklyn, NY 11215",Brooklyn,NY,"Brooklyn, New York, NY",1.0,9.4,0.982278,16.0
2,52fec098498eb03b244330f2,Covenhoven,40.675270,-73.960260,Beer Bar,13006,"[{""id"": 13006, ""name"": ""Beer Bar"", ""short_name...","730 Classon Ave (btwn Prospect Pl & Park Pl), ...",Brooklyn,NY,"Brooklyn, New York, NY",2.0,9.4,0.989574,80.0
3,5595c485498e31f9374adc0b,Gold Star Beer Counter,40.675147,-73.966840,Beer Bar,13006,"[{""id"": 13006, ""name"": ""Beer Bar"", ""short_name...","176 Underhill Ave (Sterling Pl), Brooklyn, NY ...",Brooklyn,NY,"Brooklyn, New York, NY",2.0,9.5,0.982798,50.0
4,617f079521e6b656381532a3,Variety Coffee,40.667750,-73.981290,Coffee Shop,13035,"[{""id"": 13035, ""name"": ""Coffee Shop"", ""short_n...","312 7th Ave, Brooklyn, NY 11215",Brooklyn,NY,"Brooklyn, New York, NY",1.0,8.9,0.988623,4.0

In [9]:
print("Valores únicos en category_main_name:")
print(df['category_main_name'].unique())

Valores únicos en category_main_name:
['Restaurant' 'Coffee Shop' 'Beer Bar' 'Bar' 'Dining and Drinking'
 'Pizzeria' 'Bakery' 'Cocktail Bar' 'Music Venue' 'Karaoke Bar'
 'Rock Club' 'Café' 'Pie Shop' 'Sports Bar' 'Wine Bar' 'Taco Restaurant'
 'Bagel Shop' 'Dive Bar' 'New American Restaurant' 'Arcade' 'Steakhouse'
 'Pub' 'Japanese Restaurant' 'Fast Food Restaurant' 'Beer Garden'
 'Tea Room' 'Hot Dog Joint' 'Taiwanese Restaurant' 'Supermarket'
 'Night Club' 'Grocery Store' 'Cantonese Restaurant' 'Fried Chicken Joint'
 'Pool Hall' 'Salad Restaurant' 'Burger Joint' 'Deli' 'Event Space'
 'Middle Eastern Restaurant' 'Lounge' 'Movie Theater'
 'Landmarks and Outdoors' 'Monument' 'Park' 'Botanical Garden' 'Garden'
 'Playground' 'Dog Park' 'Rock Climbing Spot' 'Sculpture Garden'
 'Picnic Area' 'Hiking Trail' 'Farm' 'Beach' 'Historic and Protected Site'
 'State or Provincial Park' 'Scenic Lookout' 'Bridge' 'Bike Trail'
 'Food and Beverage Retail' 'Lake' 'Fountain' 'Harbor or Marina'
 'Bookstore' 'Organic Grocery' 'Garden Center' 'Gourmet Store'
 'Electronics Store' 'Retail' 'Shopping Plaza' 'Big Box Store'
 'Department Store' 'Warehouse or Wholesale Store'
 'Computers and Electronics Retail' 'Shopping Mall' 'Candy Store'
 'Convenience Store' 'Eyecare Store' 'Furniture and Home Store'
 'Drugstore' 'Hardware Store' 'Arts and Crafts Store' 'Pier' 'Parking'
 'Hotel' 'Fuel Station' 'Metro Station' 'Transport Hub' 'Rail Station'
 'Travel and Transportation' 'Bus Station' 'Stadium' 'Art Gallery' 'Zoo'
 'History Museum' 'Art Museum' 'Science Museum' 'Museum' 'Bowling Alley'
 'Concert Hall' 'Comedy Club' 'Exhibit' 'Attraction' 'Skating Rink'
 'Arts and Entertainment' 'Office Building' 'Public Art' 'Gay Bar'
 'Casino' 'Psychic and Astrologer' 'Amusement Park' 'Chinese Restaurant'
 'Buffet' 'South American Restaurant' 'Sandwich Spot' 'Brewery'
 'Mexican Restaurant' 'Irish Pub' 'Bubble Tea Shop' 'Italian Restaurant'
 'Peruvian Restaurant' 'Vietnamese Restaurant' 'Diner' 'Dessert Shop'
 'Food Court' 'American Restaurant' 'African Restaurant' 'Cha Chaan Teng'
 'National Park' 'Roof Deck' 'Surf Spot' 'Plaza' 'Spa'
 'Other Great Outdoors' 'Sporting Goods Retail' 'Pet Supplies Store'
 'Fruit and Vegetable Store' 'Optometrist' 'Discount Store'
 'Office Supply Store' 'Beer Store' 'Health and Medicine' 'Airport Lounge'
 'Airport' 'Rental Car Location' 'Airport Service' 'Airport Tram Station'
 'Baggage Claim' 'Border Crossing' 'Airport Terminal'
 'Transportation Service' 'Taxi Stand' 'Public Transportation'
 'Zoo Exhibit' 'Opera House' 'Theater' 'Amphitheater' 'Strip Club'
 'Speakeasy' 'BBQ Joint' 'Seafood Restaurant' 'Breakfast Spot'
 'Caribbean Restaurant' 'Ice Cream Parlor' 'Sushi Restaurant' 'Stable'
 'River' 'Forest' 'College and University' 'Gift Store' 'Liquor Store'
 'Tobacco Store' 'Farmers Market' 'Shoe Store' 'Flower Store'
 'Law Enforcement and Public Safety' 'Butcher' 'Clothing Store'
 'Construction Supplies Store' "Women's Store" 'Tram Station'
 'Sports and Recreation' 'Internet Cafe' 'Escape Room' 'Circus'
 'Kosher Restaurant' 'Asian Restaurant' 'German Restaurant'
 'Turkish Restaurant' 'Nature Preserve' 'Campground' 'Bicycle Store'
 'Supplement Store' 'Mobile Company' 'Accounting and Bookkeeping Service'
 'Miscellaneous Store' 'Automotive Repair Shop' 'Charity' 'Car Dealership'
 'Bus Stop' 'Charter Bus' 'Travel Agency'
 'Electric Vehicle Charging Station' 'Marine Terminal' 'Cruise'
 'Tour Provider' 'Indie Movie Theater' 'Go Kart Track' 'Education'
 'Performing Arts Venue' 'Carnival' 'Bingo Center' 'French Restaurant'
 'Cajun and Creole Restaurant' 'Indian Restaurant' 'Donut Shop'
 'Waterfront' 'Tunnel' 'Memorial Site' 'Non-Profit Organization'
 'Wine Store' 'Cheese Store' 'Outlet Mall' 'Jewelry Store' 'Fish Market'
 'Vintage and Thrift Store' 'Pet Grooming Service' 'Used Car Dealership'
 'Toll Booth' 'Lodging' 'Residential Building' 'Jazz and Blues Venue'
 'Drive-in Theater' 'Tapas Restaurant' 'Portuguese Restaurant' 'Gastropub'
 'Brazilian Restaurant' 'Japanese Curry Restaurant' 'Whisky Bar'
 'Comfort Food Restaurant' 'Agriculture and Forestry Service' 'Bay'
 'Bathing Area' 'Manufacturer' 'Audiovisual Service'
 'Meat and Seafood Store' "Children's Clothing Store" 'Lingerie Store'
 'Import and Export Service'
 'Shipping, Freight, and Material Transportation Service'
 'Mobile Phone Store' 'Print Store' 'Electrical Equipment Supplier'
 'Tourist Information and Service' 'Boarding House' 'Church'
 'Dance Studio' 'Falafel Restaurant' 'Cuban Restaurant' 'Gelato Shop'
 'Spanish Restaurant' 'Ramen Restaurant' 'Community Center'
 'Pet Sitting and Boarding Service' 'Fashion Accessories Store'
 'Framing Store' 'Music Store' 'Textiles Store' 'Chocolate Store'
 'Technology Business' 'Herbs and Spices Store' 'Mattress Store'
 'Event Service' 'Telecommunication Service' 'Publisher' 'Pet Service'
 'Resort' 'Motel' 'Gym and Studio' 'Platform' 'Bike Rental' 'Port'
 'Boat Rental' 'Churrascaria' 'Industrial Equipment Supplier' 'Food Truck'
 'Greek Restaurant' 'Landscaper and Gardener' 'Office' 'Limo Service'
 'Retirement Home' 'Ticket Seller' 'TV Station' 'Gaming Cafe'
 'Swimming Pool' 'Tex-Mex Restaurant']

In [10]:
category_mapping = {
    'cultural': [
        'Art Museum', 'Art Gallery', 'History Museum', 'Museum', 'Public Art',
        'Cultural Center', 'Indie Movie Theater', 'Music Venue', 'Performing Arts Venue', 'Theater', 'Dance Studio', 'Science Museum', 'Sculpture Garden', 'Concert Hall',
        'Exhibit', 'Opera House', 'Amphitheater', 'Memorial Site', 'Jazz and Blues Venue','Church', 'Attraction'
    ],

    'restaurants': [
        'Italian Restaurant', 'Fast Food Restaurant', 'Korean Restaurant', 'Thai Restaurant', 'Wine Bar', 'Brazilian Restaurant', 'Pizzeria', 'American Restaurant', 'French Restaurant', 'Mexican Restaurant', 
        'Chinese Restaurant', 'Latin American Restaurant', 'Greek Restaurant', 'Burger Joint', 'Deli', 'Cocktail Bar', 'Wine Store', 'Dessert Shop', 'Sandwich Spot', 'Seafood Restaurant', 'Café', 
        'Gastropub', 'Fried Chicken Joint', 'Coffee Shop', 'Pub', 'Kosher Restaurant', 'Cantonese Restaurant', 'Asian Restaurant', 'German Restaurant', 'Wings Joint', 'Irish Pub', 'Restaurant', 'Steakhouse', 
        'Bagel Shop', 'New American Restaurant', 'Japanese Restaurant', 'Tea Room', 'Hot Dog Joint', 'Taiwanese Restaurant', 'Salad Restaurant', 'Middle Eastern Restaurant', 'Buffet', 
        'South American Restaurant', 'Bubble Tea Shop', 'Peruvian Restaurant', 'Vietnamese Restaurant', 'Diner', 'BBQ Joint', 'Breakfast Spot', 'Caribbean Restaurant', 'Sushi Restaurant', 
        'Cha Chaan Teng', 'Taco Restaurant', 'Ice Cream Parlor', 'Donut Shop', 'Tapas Restaurant', 
        'Portuguese Restaurant', 'Japanese Curry Restaurant', 'Comfort Food Restaurant', 'Falafel Restaurant', 'Cuban Restaurant', 'Gelato Shop', 'Spanish Restaurant', 'Ramen Restaurant', 
        'Churrascaria', 'Food Truck', 'Tex-Mex Restaurant', 'Dining and Drinking', 'Pie Shop'
    ],

    'parks_&_outdoor': [
        'Urban Park', 'Lake', 'Park', 'Playground', 'State or Provincial Park', 'Botanical Garden', 'Picnic Area', 'Beach', 'Soccer Field', 'National Park', 'Hiking Trail', 'Campground', 
        'Scenic Lookout', 'Dog Park', 'Zoo', 'Zoo Exhibit', 'Garden', 'Farm', 'Bike Trail', 'Fountain', 'Harbor or Marina', 'Pier', 'Forest', 'River', 'Roof Deck', 'Surf Spot', 
        'Plaza', 'Other Great Outdoors', 'Nature Preserve', 'Bay', 'Bathing Area', 'Stable'
    ],

    'retail_&_shopping': [
        'Bakery', 'Grocery Store', 'Big Box Store', 'Gourmet Store', 'Electronics Store', 'Organic Grocery', 'Clothing Store', 'Toy Store', 'Department Store', 'Gift Store', 
        'Convenience Store', 'Shopping Mall', 'Supermarket', 'Retail', 'Shopping Plaza', 'Discount Store', 'Fruit and Vegetable Store', 'Furniture and Home Store', 
        'Video Games Store', 'Office Supply Store', 'Tobacco Store', 'Liquor Store', 'Beer Store', 'Warehouse or Wholesale Store', 'Candy Store', 'Eyecare Store', 'Drugstore','Hardware Store', 'Arts and Crafts Store', 'Bookstore', 'Garden Center', 
        'Computers and Electronics Retail', 'Shoe Store', 'Flower Store', 'Fish Market','Cheese Store', 'Jewelry Store', 'Vintage and Thrift Store', 'Miscellaneous Store', 
        "Women's Store", 'Sporting Goods Retail', 'Bicycle Store', 'Supplement Store','Mobile Phone Store', 'Print Store', 'Electrical Equipment Supplier', 'Textiles Store', 
        'Fashion Accessories Store', 'Framing Store', 'Music Store', 'Chocolate Store','Herbs and Spices Store', 'Mattress Store', "Children's Clothing Store", 'Butcher', 
        'Meat and Seafood Store', 'Food and Beverage Retail', 'Fuel Station'
    ],

    'entertainment_&_leisure': [
        'Movie Theater', 'Arcade', 'Bowling Alley', 'Amusement Park', 'Pool Hall', 'Event Space', 'Karaoke Bar', 'Sports Bar', 'Lounge', 'Beer Garden', 'Stadium', 
        'Rock Climbing Spot', 'Comedy Club', 'Casino', 'Skating Rink', 'Escape Room', 'Circus', 'Go Kart Track', 'Drive-in Theater', 'Bingo Center', 'Carnival', 
        'Gaming Cafe', 'Psychic and Astrologer', 'Resort', 'Motel', 'Lodging', 'Spa','Boat Rental', 'Bike Rental', 'Tour Provider', 'Travel Agency', 'Boarding House'
    ],

    'landmarks': [
        'Landmarks and Outdoors', 'Monument', 'Bridge', 'Historic and Protected Site','Parking', 'Metro Station', 'Rail Station', 'Transport Hub', 'Bus Station', 
        'Travel and Transportation', 'Office Building', 'Tunnel', 'Port', 'Platform',  'Airport Lounge', 'Airport', 'Rental Car Location', 'Airport Service', 
        'Airport Tram Station', 'Baggage Claim', 'Border Crossing', 'Airport Terminal', 'Transportation Service', 'Taxi Stand', 'Public Transportation', 'Office', 
        'Residential Building'
    ],

    'bars_&_clubs': [
        'Bar', 'Gay Bar', 'Dive Bar', 'Cocktail Bar', 'Beer Bar', 'Hotel Bar', 'Beer Garden', 'Hookah Bar', 'Wine Store', 'Night Club', 'Rock Club', 
        'Comedy Club', 'Speakeasy', 'Whisky Bar', 'Strip Club'
    ]
}

def map_category(category):
    for group, categories in category_mapping.items():
        if category in categories:
            return group
    return 'Other'  

df_clean['category_group'] = df_clean['category_main_name'].apply(map_category)

print(df_clean[['category_main_name', 'category_group']].head())

  category_main_name category_group
0         Restaurant    restaurants
1        Coffee Shop    restaurants
2           Beer Bar   bars_&_clubs
3           Beer Bar   bars_&_clubs
4        Coffee Shop    restaurants

/tmp/ipykernel_76102/1954394377.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['category_group'] = df_clean['category_main_name'].apply(map_category)

In [11]:
df_clean = df_clean.drop(columns=['price_tier', 'tips_count','popularity_score','address','category_main_id',
                                'category_main_name', 'all_categories','rating','region','area_searched', 'locality', 'name'])
logger.info("Columnas eliminadas de df_clean")

INFO:__main__:Columnas eliminadas de df_clean

In [12]:
df_clean = df_clean.reset_index(drop=True)
df_clean['fsq_id'] = df_clean.index + 1

In [13]:
df_clean.head()

   fsq_id   latitude  longitude category_group
0       1  40.659104 -73.966131    restaurants
1       2  40.665707 -73.982370    restaurants
2       3  40.675270 -73.960260   bars_&_clubs
3       4  40.675147 -73.966840   bars_&_clubs
4       5  40.667750 -73.981290    restaurants

In [14]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fsq_id          2218 non-null   int64
 1   latitude        2218 non-null   float64
 2   longitude       2218 non-null   float64
 3   category_group  2218 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 69.4+ KB